version: "3.7"

services:

    # build du projet :
    # > docker image build -f .docker/Dockerfile --tag cartesgouvfr-entree_carto:latest .
    # > docker run -d -p 8082:8082 cartes.gouv.fr-entree-carto:latest
    # ou 
    # > docker-compose -f .docker/docker-compose.yml up --build -d
    # proxy pour npm :
    # --build-arg HTTP_PROXY=http://proxy.ign.fr:3128 
    # --build-arg HTTPS_PROXY=http://proxy.ign.fr:3128 
    # surcharge des env :
    # --build-arg MODE_ENV=docker
    # --build-arg BASE_URL=/cartes

    # on utilise les 'args' pour construire une image dynamique
    # et on utilise les 'environment' pour surcharger une image statique
    # pour l'exemple, on utilise les 'env_file' pour surcharger une image statique
    entree_carto:
        build:
            context: ..
            dockerfile: ./.docker/Dockerfile
            args:
              # MODE_ENV: "docker-local"
              BASE_URL: "/explorer-les-cartes"
              SOURCE_MAP: "true"
              USER_ENV: "root"
              HTTP_PROXY: "http://proxy.ign.fr:3128"
              HTTPS_PROXY: "http://proxy.ign.fr:3128"
        image: ignf/cartes.gouv.fr-carto:latest
        container_name: cartesgouvfr-entree_carto
        environment:
            - HTTP_PROXY=${HTTP_PROXY}
            - HTTPS_PROXY=${HTTPS_PROXY}
            - http_proxy=${HTTP_PROXY}
            - https_proxy=${HTTPS_PROXY}
        env_file:
            - ../env/.env.docker-local
        volumes:
          - envdata:/usr/share/nginx/html/explorer-les-cartes/env:rw
        ports:
        # - HOST:CONTAINER
          - 8082:8082
        networks:
          - web_dev

volumes:
  envdata:
    driver: local
  
networks:
  web_dev:
    external: true
