version: '3.8'

networks:
    web_dev:
        external: true

services:
    doc_dev:
        image: ghcr.io/ignf/cartes.gouv.fr-documentation:latest
        container_name: cartesgouvfr-documentation-dev
        environment:
            - HTTP_PROXY=${HTTP_PROXY}
            - HTTPS_PROXY=${HTTPS_PROXY}
            - http_proxy=${HTTP_PROXY}
            - https_proxy=${HTTPS_PROXY}
        ports:
            - "8082:8082"
        networks:
            - web_dev
        labels:
            - "traefik.enable=true"
            - "traefik.http.routers.cartesgouvfr-documentation.rule=Host(`cartesgouvfr-documentation.docker.localhost`) && PathPrefix(`/aide`)"
            - "traefik.http.routers.cartesgouvfr-documentation.entrypoints=websecure"
            - "traefik.http.services.cartesgouvfr-documentation.loadbalancer.server.port=8082"
